/**************************\
  Basic Modal Styles
\**************************/
.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    max-width: 70vw;
    max-height: 90vh;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #000;
    box-sizing: border-box;
}

.modal__close {
    position: absolute;
    right: -20px;
    top: -20px;
    background: transparent;
    border: 0;
    cursor: pointer;
    background-color: #fafafa;
    box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px 0px, rgb(27 31 35 / 7%) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 99px;
    height: 40px;
    width: 40px;
}

.modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    overflow-y: auto;
}

.modal__content span,
.modal__content p{
    line-height: 1.5rem;
}

.modal__content img{
    width: 100%;
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
    transition: .4s ease-in;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .6s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .6s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .6s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .6s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.post-control-prev svg, 
.post-control-next svg {
    width: 16px;
    height: 16px;
    transform: all 200ms;
}

.modal__header {
    flex-direction: column;
}

.post-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.post-control-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-control-prev svg {
    transform: rotate(180deg);
}

.post-control-prev, .post-control-next {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.post-control-prev:hover, 
.post-control-next:hover{
    color: var(--primary);
}


.post-control-prev:hover>svg, 
.post-control-next:hover>svg{
    fill: var(--primary)
}

.post-control-next {
    flex-direction: row-reverse;
    gap: 5px;
}

.modal__content::-webkit-scrollbar-track
{
	background-color: #fff;
}

.modal__content::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

.modal__content::-webkit-scrollbar-thumb
{
	background-color: #000;
    border-radius: 10px;
}